img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 30px;
  }

  a{
    color: black;
    text-decoration: none; 
  }

.userHolder{
  overflow: auto;
  height:400px;
  border-radius: 1px solid lightgrey
}